/* STYLING ADMIN DASHBOARD CARDS */

    a:link {
      text-decoration: none;
    }

    .order-card {
      color: #fff;
    }

    .bg-c-blue {
      background: linear-gradient(45deg, #4099ff,#4a5c64);
    }

    .bg-c-green {
      background: linear-gradient(45deg, #2ed8b6, #4a5c64);
    }

    .bg-c-yellow {
      background: linear-gradient(45deg, #FFB64D, #4a5c64);
    }

    .bg-c-pink {
      background: linear-gradient(45deg, #30a33a, #4a5c64);
    }


    .card {
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
      box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
      border: none;
      margin-bottom: 30px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .card .card-block {
      padding: 25px;
    }

    .order-card i {
      font-size: 26px;
    }

    .f-left {
      float: left;
    }

    .f-right {
      float: right;
    }

/* STYLING THE FORM */

.add-student{
  border-radius: 10px;
  max-height: 670px;
  padding: 30px;
  width: 35%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 auto;
  display: block;
}

.form {
  padding: 17px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field {
  margin-bottom: 15px;
}

.field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.field input,
.field textarea {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  font-size: 16px;
}

.field input:focus,
.field textarea:focus {
  outline: none;
  border-color: #333;
}
.field input, 
.field button{
height: 100%;
width: 100%;
border: none;
font-size: 15px;
font-weight: 400;
border-radius: 6px;
}


.btn {
  background: #30a33a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
}

.btn:hover {
  background:#4099ff;
}

/* STYLING THE STUDENT DETAILS CARD */
.student-card {
  width: 500px; /* Set the width of the card */
  padding: 20px; /* Add padding to the card */
  background-color: #f0f0f0; /* Example background color */
  border-radius: 15px; /* Add some border radius for a rounded appearance */
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}
.container-card{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-content {
  margin: 0; /* Remove margin for all sides */
}

.list-group-item{
  padding: 10px;
}

.card h2,
.card p {
  margin-top: 0; /* Remove top margin for heading and paragraph */
}
.student-details-header{
display: flex;
align-items: center;
justify-content: center;
}





