{% extends 'adminbase.html' %}

{% block content %}

<head>

  <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" id="bootstrap-css">
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}} "></script>
  <script src=" {{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }
    h6{
      text-align:center;
    }
    .row{
      margin:100px;
    }
    .narrow-cell {
    width: 250px;
  }

  </style>

</head>



<!--
written By : sumit kumar
-->

<div class="container">

    	<div class="row" >

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h6 class="panel-title">Teachers</h6>

					</div>

					<table class="table table-hover table-striped table-bordered" id="dev-table">
            <thead>

                <tr>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th>Joined Date</th>
                    <th>Actions</th>

                </tr>
            </thead>
            {% for teacher in teachers %}
              <tr>
                  <td> {{teacher.first_name}}</td>
                  <td>{{teacher.second_name}}</td>
                  <td class="narrow-cell">{{teacher.joined_date }}</td>
                  <td class="narrow-cell">
                    <a href=" {{url_for('individual_teacher', teachers_id=teacher.id)}}"><button type="submit" class="btn btn-info ">View</button></a>
                    <a href=" "><button type="button" class="btn btn-danger" >Delete</button></a>

                  </td>
              </tr>
            {% endfor %}
					</table>
				</div>
				</div>
			</div>

{% endblock content %}
